<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DDay.iCal" version="1.0.2.575" targetFramework="net461" />
  <package id="EWSoftware.PDI" version="2015.1.19.0" targetFramework="net461" />
  <package id="EWSoftware.PDI.Data" version="2015.1.19.0" targetFramework="net461" />
  <package id="IntelliFactory.Xml" version="0.6.63.95" targetFramework="net40" />
  <package id="Newtonsoft.Json" version="8.0.3" targetFramework="net461" />
  <package id="WebSharper" version="3.6.11.234" targetFramework="net40" />
  <package id="WebSharper.Html" version="3.6.9.21" targetFramework="net40" />
</packages>